<!DOCTYPE html>
<!-- Bootstrap Navigation Code -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <style>
        nav{
            display: flex;
            padding: 5% 2%;
            justify-content: space-between;
            align-items: center;
        }
        .nav-links{
            flex: 1;
            text-align: left;
        }
        .nav-links ul li{
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
        }
        .nav-links ul li a{
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins', serif;
            font-size: 26px;
        }
        .nav-links ul li::after{
            content: '';
            width: 0;
            padding: 0;
            height: 0;
            border: 1px solid #333333;
            background: white;
            display: block;
            transition: 0.3s;
        }
        .nav-links ul li:hover::after{
            border: 1px solid white;
            width: 100%;
        }
        #nav ul {
            display: inline-block;
            list-style-type: none;
        }
        .d-inline-block {
            margin-bottom: 7px
        }
    </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img alt="" class="d-inline-block align-center"
                     src="/static/images/catremovebg.png"
                     th:src="@{/static/images/catremovebg.png}"
                     href="@{https://music.nighthawkcoders.tk}"
                     th:href="@{https://music.nighthawkcoders.tk}"
                     height="50"
                     margin-right="2px"
                     width="auto">
                <a class="navbar-brand" style="padding-left: 8px; font-family: 'Poppins', serif;display:none" th:href="@{https://music.nighthawkcoders.tk}">RAYJ Music</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <a href="index.html"></a>
        <div class="nav-links" style="margin-top: 8px">
          <ul class="box">
            <li><a href="/" style="margin-bottom: 12px">HOME</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDarkDropdownMenuLink0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    DATABASE
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink0">
                    <li><a class="dropdown-item" th:href="@{/users}">USERS</a></li>
                    <li><a class="dropdown-item" th:href="@{/songs}">SONGS</a></li>
                </ul>
            </li>
          </ul>
        </div>
        <div class="px-3 form-group" style="height:30px;margin-bottom:7px">
            <input id="search" class="form-control" type="search" placeholder="Search Billboard" aria-label="Search">
        </div>
    </nav>
                <!-- Clock display -->
                <!--                <div class="px-3 text-dark">-->
                <!--                    <span id="clock"></span>-->
                <!--                </div>-->
                <!-- Login/Logout -->
                
            <script>
                const search = document.getElementById('search');
                const google = 'https://www.google.com/search?q=site%3A+';
                const site = 'Billboard';

                function submitted(event) {
                    if (event.key === 'Enter') {
                        // calculations to determine new window size at 66% of existing
                        const reduction = 0.66;  // reduce by 66%
                        const w = Math.trunc(window.innerWidth*reduction);
                        const h = Math.trunc(window.outerHeight*reduction);
                        const l = Math.trunc(window.top.screenX + ((window.innerWidth - w)/2));
                        const t = Math.trunc(window.top.screenY + ((window.outerHeight - h)/2));
                        const left = "left=" + l;
                        const top = "top=" + t;
                        const width = "width=" + w;
                        const height = "height=" + h;
                        const location = left + ", " + top + ", " + width + ", " + height

                        // setup and display window
                        event.preventDefault();
                        const url = google
                            + site
                            + '+'
                            + search.value;
                        const win = window.open(url, "CompSci A Search", location);
                        win.focus();
                    }
                }
                search.addEventListener('keypress', submitted);

                // Clock Control
                // clockElement global element set for convenience
                let clockElement = document.getElementById('clock');
                // Execute clock function on load
                clock();
                // Clock update executes on each interval set by timer
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh timer, a reoccurring event
                setInterval(clock, 1000);
                // End Clock Control

                // Dark Mode Control
                // darkSwitch global element is set for convenience
                const darkSwitch=document.getElementById("darkSwitch");
                // establishes the initial state of darkSwitch on page load
                if(darkSwitch) {
                    // obtains the value of darkSwitch from localStorage
                    const darkSwitchSelected =
                        localStorage.getItem("darkSwitch") !== null &&
                        localStorage.getItem("darkSwitch") === "dark";
                    // sets the value of darkSwitch.checked to the global darkSwitch
                    darkSwitch.checked=darkSwitchSelected;
                    // if dark-mode, toggle the switch to dark-mode position
                    if (darkSwitchSelected)
                        document.body.classList.toggle("dark-mode");
                }
                // executes on each "dark mode" UI toggle
                function darkFunction() {
                    // toggles between off (standard CSS) and dark-mode (.dark-mode CSS)
                    document.body.classList.toggle("dark-mode");
                    // localStorage is used to manage darkSwitch status
                    darkSwitch.checked
                        ? localStorage.setItem("darkSwitch","dark")
                        : localStorage.removeItem("darkSwitch");
                }
                // End Dark Mode Control
            </script>
        </div>
</th:block>