<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>RAYJ Music</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/anti-hero.jpeg}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">#1 Song of the Week</h5>
                    <p class="card-text">
                        <ol>
                            <li>The top song of the week is, "Anti-Hero," by Taylor Swift, released under Swift's 2022 album Midnights. As of October 23, 2022, the song's music video has gained over 26 million views and is trending at #1 on YouTube Music. </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/bad-habits.jpg}" alt="Spring Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Top song from BillBoard.</h5>
                    <p class="card-text">
                        <ol>
                            <li>The number #1 song on Billboard's charts is, "Bad Habits," by Steve Lacy, spending 15 weeks on the BillBoard Top 100 charts. </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/as-it-was.jpeg}" alt="Java Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">This week's #1 Hit on Apple Music</h5>
                    <p class="card-text">
                        <ol>
                            <li>The top hit on the Apple Music charts is, "As it Was," by Harry Styles. The song has spent 28 weeks on the BillBoard top 100 chart, and is at the top of charts on Spotify, Apple Music, and Youtube.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>