<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">
<link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">

<style>
      body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', serif;
        /* background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF); */
        justify-content: center;
        align-items: center;
        background:linear-gradient(#0e071b, #230a4d);
    }
</style>
<body style="background:white">
<th:block style="height:100%;" layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
<h1>Welcome to RAYJ Music: The best way to explore music recommendations</h3>
<h3><strong>The sole purpose of this website is to run our backend databases and api. Feel free to navigate to https://peacekeeper6.github.io/RAYJ-final/ for our frontend website. </strong></h3>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>
</html>