<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">
      
<head>
<style>
    .new {
        top:5%;
        background-color:#eeeeee;
        color: #c30000;
        border-color: #c30000;
        font-size: 25px;
        font-weight: 700;
        border-radius:10px; 
        padding:15px;
        min-height:30px; 
        min-width: 120px;
    }
    .new:hover {
        cursor: pointer;
        background-color: #c30000;
        color: #fff;
        transition: 0.5s;
    }
</style>
</head>

<body style="background:white">
    <th:block style="height:100%;" layout:fragment="body" th:remove="tag">
        <!-- Start of body content specific to page -->
        <br>
        <br>
        <br>
        <center>
        <button onclick="window.location.href='/itinerary/new';" class="new">Add New</button>
        </center>
        <br>
        <br>
        <br>
        <!-- End of body content specific to page -->
    </th:block>
    </body>



