<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">
<link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">

<style>
      body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', serif;
        /* background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF); */
        justify-content: center;
        align-items: center;
        background:linear-gradient(#0e071b, #230a4d);
    }
</style>
<th:block layout:fragment="script" th:remove="tag">
<script>
    function login() {
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var data = {email:email, password:password};
        fetch("/authenticate", {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)}).then((data) => {
            if (data.status == 200) {
                window.location.replace("/");
            } else {
                document.getElementById('message').innerHTML = "Invalid email or password"
            }
        });
    }
</script>
</th:block>
<body style="background:white">
<th:block style="height:100%;" layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <h1>Login</h1>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Login" onclick="login()">
    <p id="message"></p>
    <!-- End of body content specific to page -->
</th:block>
</body>
</html>