<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Users Table</title>
</head>
<body style="background-color:#ffffff;">
<th:block layout:fragment="body" th:remove="tag">
<h1><strong>Users Table</strong></h1>
<h3>These are test runs for the Sign-Up/User Database</h3>
<table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody id="result">
      <!-- generated rows -->
    </tbody>
  </table>
  
  <!-- Script is layed out in a sequence (no function) and will execute when page is loaded -->
  <script>
    // prepare HTML result container for new output
    const resultContainer = document.getElementById("result");
  
    // prepare fetch options
    const url = "https://music.nighthawkcoders.tk/api/users/";
    // const url = "http://localhost:8080/api/users/";

    const options = {
    method: 'GET', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'omit', // include, *same-origin, omit
    headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    };
  
    // fetch the API
    fetch(url, options)
      // response is a RESTful "promise" on any successful fetch
      .then(response => {
        // check for response errors
        if (response.status !== 200) {
            const errorMsg = 'Database response error: ' + response.status;
            console.log(errorMsg);
            const tr = document.createElement("tr");
            const td = document.createElement("td");
            td.innerHTML = errorMsg;
            tr.appendChild(td);
            resultContainer.appendChild(tr);
            return;
        }
        // valid response will have json data
        response.json().then(data => {
            // Country data
            console.log(data);
            for (const row of data) {
              console.log(row);
  
              // tr for each row
              const tr = document.createElement("tr");
              // td for each column
              const username = document.createElement("td");
              const password = document.createElement("td");
  
              // data is specific to the API
              username.innerHTML = row.username;
              password.innerHTML = row.password;
  
              // this build td's into tr
              tr.appendChild(username);
              tr.appendChild(password);
  
              // add HTML to container
              resultContainer.appendChild(tr);
            }
        })
    })
    // catch fetch errors (ie ACCESS to server blocked)
    .catch(err => {
      console.error(err);
      const tr = document.createElement("tr");
      const td = document.createElement("td");
      td.innerHTML = err;
      tr.appendChild(td);
      resultContainer.appendChild(tr);
    });
  </script>
</th:block>
</body>